{
  "presets": [
    ["env", {
      "targets": {
        "node": true
      }
    }],
    "stage-0",
    "react"
  ],
  "sourceMaps": "both",
  "plugins": [
    ["module-resolver", {
      "root": ["."]
    }],
    "transform-runtime",
    "transform-decorators-legacy"],
  "env": {
    "test": {
      "plugins": [
        ["module-resolver", {
          "root": [ "."]
        }],
        "transform-runtime",
        "transform-decorators-legacy"
      ]},
    "production": {
      "plugins": ["source-map-support"]
    }
  }
}
